
<h1>Movies</h1>

<ul>
  <% @movies.each do |movie|  %>
    <div class="card" style="width: 18rem;">
      <img src="<%= movie.poster %>" class="card-img-top" alt="Movie Poster">
      <div class="card-body">
        <p class="card-text"> <%= movie.title %> </p>
        <p class="card-text"> <%= movie.year %> </p>
      </div>
    </div>
  <% end %>
</ul>
