<div class="content-container">

    <h1>Movies</h1>

    <div class="row" style="justify-content: space-evenly;">

      <% @movies.each do |movie|  %>
      <%= link_to movie_path(movie) do  %>
        <div class="movie-card">
          <img src="<%= movie.poster %>" class="card-img-top" alt="Movie Poster">
          <p> <%= movie.title %> </p>
        </div>
      <% end %>
      <% end %>
    </div>
</div>
