
<div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalLabel" aria-hidden="true">
   <%= render 'shared/addreview_form', review: review, movie: movie %>
</div>


