<!-- Modal -->
<div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog" aria-labelledby="addMovieModalLabel" aria-hidden="true">
  <%= render 'shared/addmovie_form', modal_watchlist_movie: modal_watchlist_movie %>
</div>
