<%= simple_form_for([movie,review], remote: true, method: :post) do |f| %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addReviewModalLabel">Add Review</h5>
        <button type="button" id="review-close" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-4">
              <%= f.input :content, label: "Your Comment"%>
              <%= f.input :rating, collection: (1..5).to_a, label: "Your rating" %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn button-pink-small-secondary" data-dismiss="modal">Cancel</button>
        <%= f.submit "Add Review", class: "btn button-pink-small" %>
      </div>
    </div>
  </div>
  <% end %>
