<div class="modal fade" id="createWatchlistModal" tabindex="-1" role="dialog" aria-labelledby="createWatchlistModalLabel" aria-hidden="true">
  <%= render 'shared/createwatchlist_form', modal_watchlist: modal_watchlist %>
</div>
