<div class="modal fade" id="updateWatchlistModal" tabindex="-1" role="dialog" aria-labelledby="updateWatchlistModalLabel" aria-hidden="true">
  <%= render 'shared/updatewatchlist_form', modal_watchlist: modal_watchlist %>
</div>
