.banner-picture {
  height: 50vh;
  background-size: cover;
  background-position: inherit;
  position: relative;
}

.banner-content {
  position: absolute;
  margin-left: 20px;
}

.banner-container {
  height: 90vh;
}
