.button-pink {
  background-color: $pink;
  color: $white;
  border-radius: 32px;
  padding: 16px;
  min-width: 140px;
  &:hover {
    text-decoration: none;
    color: $white;
    background-color: #e882a4;
  }
}
