.content-container {
  width: 75vw;
  position: absolute;
  left: 269px;
  top: 45px;
  background: #FFFFFF;
  box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.2);
  border-radius: 32px 32px 0px 0px;
  padding: 35px;
  height: calc(100vh - 45px);
  overflow: scroll;
}

.transparent-container {
  width: 75vw;
  position: absolute;
  left: 269px;
  top: 70px;
  background: transparent;
  padding: 35px;
  margin-top: -25px;
  height: 100vh;
  overflow: scroll;
}
