.form-check {
  margin-left: 16px;
}


.form-control {
  border-radius: 5px;
}


.select2.select2-container.select2-container--default {
  width: 100% !important;
}
// .select2-selection {
//   .select2-selection--single {
//     width: 100%
//   }
// }

.form-group.check_boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.form-check {
  padding: 20px;
  border-radius: 50%;
  opacity: .4;
  flex: 0 0 30%;
  text-align: normal;
  height: 25px;
  width: 25px;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: grey;
  color: white;
  opacity: 1;
  }
}

input:checked {
  +label {
    opacity: 0.8;
    border: 3px solid $pink;
    border-radius: 10px;
  }
}

.select2-results__option--highlighted,
.select2-results__option:hover{
  background: $pink !important;

}

