// Navbar white
.navbar-lewagon {
  // justify-content: flex-end;
  background: white;
  padding-right: 70px;
  width: 100%;
  // align-items: flex-start;
  height: 5vh;
  padding-top: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fas.fa-angle-down {
  padding-left: 8px;
  color: #BCBCBC;
  &:hover {
    text-decoration: none;
    color: #30343F;
  }
}

.link-navbar {
  text-decoration: none;
  color: #BCBCBC;
  &:hover {
    text-decoration: none;
    color: #30343F;
  }
}

// Navbar purple
.navbar-purple {
  // justify-content: flex-end;
  background: #653954;
  padding-right: 70px;
  width: 100vw;
  // align-items: flex-start;
  height: 25vh;
  color: white;
  padding-top: 10px;
  z-index: -1;
}

.navbar-purple .navbar-collapse {
  flex-grow: 0;
}

.navbar-purple .navbar-brand img {
  width: 40px;
}

.fas.fa-angle-down {
  padding-left: 8px;
  color: #BCBCBC;
  &:hover {
    text-decoration: none;
    color: #30343F;
  }
}

.link-navbar-purple {
  text-decoration: none;
  color: #BCBCBC;
  &:hover {
    text-decoration: none;
    color: #30343F;
  }
}



