// Sidebar-purple
.sidenav {
  height: 100vh ;
  width: 250px;
  background-color: #653954;
  overflow-x: hidden;
  padding-top: 25vh;
  padding-left: 3px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #f1f1f1;
  display: block;
}

.sidenav a:hover {
  color: #818181;
}

.fas {
  width: 30px;
}

// Sidebar-white
.sidenav-white {
  height: 75vh;
  width: 250px;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding-left: 3px;
  padding-top: 16px;
}

.sidenav-white a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #30343F;
  display: block;
}

.sidenav-white a:hover {
  color: #BCBCBC;
}

.logo {
  padding: 0px;
  color: $white;
}
